<ion-header>
  <ion-navbar>

    <ion-title>
      Town Map
    </ion-title>

    <ion-buttons end>

      <button ion-button icon-only (click)='toggleSearch()'>
        <ion-icon name="search"></ion-icon>
      </button>



      <button ion-button icon-only *ngIf="starttrackingButton" (click)= 'startNavigating()'>
        <ion-icon name="ios-arrow-dropright"></ion-icon>
      </button>

    </ion-buttons>


  </ion-navbar>

</ion-header>


<div class="switch">

  <button ion-button color="light" (click)="(switch = 'map'); resizeMap()" [class.active]="(switch == 'map')" icon-only>
    <ion-icon name="map"></ion-icon></button>

  <button ion-button color="light"  (click)="(switch = 'list');  " [class.active]="(switch == 'list')" icon-only>
    <ion-icon name="list"></ion-icon></button>

  <button ion-button color="light" [hidden]="compas" (click)="(switch = 'compass'); " [class.active]="(switch == 'compass')" icon-only>
    <ion-icon name="md-compass"></ion-icon></button>

</div>


<ion-content>


  <div [hidden]="!(switch == 'list')">

    <ion-card>

      <ion-item>
        <ion-label>Places</ion-label>

        <ion-select [(ngModel)]="addInterest" (ionChange)="nearbyPlace($event)">

          <ion-option *ngFor="let place of arrayOfInterests">
            {{place}}
          </ion-option>
        </ion-select>

      </ion-item>

    </ion-card>


    <div *ngFor="let place of placesArray">

      <div *ngIf="place" (click)="fun(place)">

        <ion-card >

          <ion-label *ngIf="place.name != 0">
            {{place?.name}}
          </ion-label>

          <img class="card-img-top" *ngIf="place?.photos[0].getUrl().value != 0" src="{{place?.photos[0].getUrl()}}">

          <div class="card-block">
          </div>

          <ion-row no-padding>
            <ion-col>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon ></ion-icon>
                Show
              </button>
            </ion-col>
          </ion-row>
        </ion-card>

      </div>
    </div>
  </div>


  <div [hidden]="!(switch == 'compass')">

    <div>
      <ion-card-content>
        <div #directionsPanel></div>
      </ion-card-content>
    </div>

  </div>


  <div class="map" [class.hidemap]="!((switch == 'map') || error)">




    <ion-searchbar #searchbar placeholder="Suchen" [hidden]="!search"></ion-searchbar>
    <div id="map" #map>


    </div>



  </div>



</ion-content>


